{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<script>
    function ShowObjectsDelivery()
    {
        var obj = document.getElementById('DeliveryAddress');
        obj.style.display = "block";
        obj.value=1

        var obj2 = document.getElementById('LblDeliveryAddress');
        obj2.style.display = "block";

        var obj3 = document.getElementById('LblDeliveryTax');
        obj3.style.display = "block";

        var obj4 = document.getElementById('BtnDelivery');
        obj4.className = "btn btn-success"

        var obj5 = document.getElementById('BtnPickup');
        obj5.className = "btn btn-secondary"

    }
    function ShowObjectsPickup()
    {
        var obj = document.getElementById('DeliveryAddress');
        obj.style.display = "none";

        var obj2 = document.getElementById('LblDeliveryAddress');
        obj2.style.display = "none";

        var obj3 = document.getElementById('LblDeliveryTax');
        obj3.style.display = "none";

        var obj4 = document.getElementById('BtnPickup');
        obj4.className = "btn btn-success"

        var obj5 = document.getElementById('BtnDelivery');
        obj5.className = "btn btn-secondary"
    }

</script>
<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYour Cart </p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                    <td><a class="btn btn-danger" type="submit" href="/cart/remove/{{product.id}}"> Remove </a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="">Total Order</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="/cart/" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success border rounded  col-lg-3 float-right">Check out</a>
        </div>
    </div>
</div>
<!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <table>
                    <tr align="center">
                        <td> <strong> Delivery Method 🛒 </td>
                        <td><input name="Opt_Delivery_Pickup" type="radio" id="Opt_Delivery_Pickup1" value="Delivery" checked onclick="ShowObjectsDelivery()"/> Receive at home </td>
                        <td><input name="Opt_Delivery_Pickup" type="radio" id="Opt_Delivery_Pickup2" value="Pickup" onclick="ShowObjectsPickup()"/> Pickup </td>
                    </tr>
                </table>
                <div class="form-group">
                    <label id="LblDeliveryAddress">Address</label>
                    <input type="text" name="DeliveryAddress" maxLength=50 id="DeliveryAddress" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label style="color:red" id="LblDeliveryTax"> Shipping costs will be charged separately </label>
                </div>
                <div class="form-group">
                    <label for="">Delivery date</label>
                    <input type="date" name="date_delivery" class="form-control" aria-describedby="helpId">
                    <input type="time" name="time_delivery" class="form-control" aria-describedby="helpId">
                </div>
                <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Check out">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}