<html lang="en">
<body id="page-top">
    <form method="POST" action="/manage_inventory/" class="form-horizontal">
        {% extends 'base.html' %}
        {% block content %}
        {% load cart %}
        {% load custom_filter %}
        {% csrf_token %}
        <div class="container">
            <div class="border rounded p-4 m-4">
                <p class="display-4 pl-4 ml-4" align="center">Manage Inventory</p>
                <table class="table" border="0">
                    <tr align="center">
                        <th> Product ID </th>
                        <th> Product Name </th>
                        <th> Quantity </th>
                        <th> + </th>
                        <th> + </th>
                        <th> - </th>
                        <th> - </th>
                    </tr>
                    {% for item in Inventory %}
                    <tr>
                        <td align="center"> {{ item.0 }} </td>
                        <td> {{ item.1 }} </td>
                        <td align="center"><input size="4" id="Qtde" name="Qtde" readonly value={{ item.2 }}></td>
                        <td align="center" width="5%"><a class="btn btn-success" href="/manage_inventory/add/{{ item.0 }}/10"> +10  </a></td>
                        <td align="center" width="5%"><a class="btn btn-success" href="/manage_inventory/add/{{ item.0 }}/50"> +50 </a></td>
                        <td align="center" width="5%"><a class="btn btn-danger" href="/manage_inventory/subtract/{{ item.0 }}/10"> -10 </a></td>
                        <td align="center" width="5%"><a class="btn btn-danger" href="/manage_inventory/subtract/{{ item.0 }}/50"> -50 </a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock %}